// ==========================================================================
// Colors
// ==========================================================================

// Main Colors
$plyr-color-main: var(--plyr-color-main, rgb(255, 0, 85)) !default;
$plyr-video-background: var(--plyr-video-background, rgb(0, 0, 0, 1)) !default;

// Grayscale
$plyr-color-gray-900: rgb(31, 41, 41) !default;
$plyr-color-gray-800: rgb(63, 63, 63) !default;
$plyr-color-gray-700: rgb(86, 86, 86) !default;
$plyr-color-gray-600: rgb(110, 110, 110) !default;
$plyr-color-gray-500: rgb(134, 134, 134) !default;
$plyr-color-gray-400: rgb(159, 159, 159) !default;
$plyr-color-gray-300: rgb(183, 183, 183) !default;
$plyr-color-gray-200: rgb(208, 208, 208) !default;
$plyr-color-gray-100: rgb(232, 232, 232) !default;
$plyr-color-gray-50: rgb(255, 255, 255) !default;
